:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --contacts-text-color: rgba (255,255,255,0.6);
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --button-backgroung-color: #f5f4fa;
    --hero-background-color: #2f303a;
    --main-background-color: #e5e5e5;
}

/* Body styles */

body{
    font-family: Roboto,sans-serif;
    font-size: 14px;
    letter-spacing: 3%;
    line-height: 1.71;
    color: var(--primary-text-color);
    background: var(--main-background-color);
}
/* Hidden title */
.visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}
/* Header styles */
.logo{
    font-family: Raleway,sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--title-text-color)
}

.logo-blue{
    font-family: Raleway,sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color:var(--accent-color)
}

.site-nav{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 2%;
    text-decoration: none;
    list-style: none;
    color: var(--title-text-color)
}

.site-nav:hover,
.site-nav:focus{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 2%;
    text-decoration: none;
    list-style: none;
    color:var(--accent-color)
}

.contacts{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 2%;
    text-decoration: none;
    list-style: none;
}

.contacts:hover,
.contacts:focus{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 2%;
    text-decoration: none;
    list-style: none;
    color: var(--accent-color);
    }

/* Hero styles */
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: Center;
    letter-spacing: 6%;
    color: var(--primary-white-color);
    background-color:var(--hero-background-color);
}

.hero-button,
.hero-button:hover,
.hero-button:focus{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    cursor: pointer;
    color: var(--primary-white-color);
    background-color:var(--accent-color);
}

/* Feature section styles */

.features-list.third-title{
    font-weight: 700;
    line-height: 1.14;
    text-align: left;
    color:var(--title-text-color);
    list-style: none;
}

.features-list.text{
    text-align: left;
}

/* Our team section styles */

.our-team-second-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color:var(--title-text-color);
}

.our-team-list-third-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    list-style: none;
    color:var(--title-text-color);
}

.our-team-list-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* Footer styles */

.footer-contacts:{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 2%;
    text-decoration: none;
    list-style: none;
    color: var(--primary-white-color);
    background-color: var(--hero-background-color);
}

/* Portfolio buttons styles */
    
.button-portfolio{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: Center;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: var(--title-text-color);
    background-color:var(--button-backgroung-color);
}

.button-portfolio:hover,
.button-portfolio:focus{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: Center;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: var(--primary-white-color);
    background-color:var(--accent-color);
}

/* Portfolio list styles */

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    text-align: left;
    letter-spacing: 6%;
}

.portfolio-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
}